In [13]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession

appName = "Label Indexer"
spark = SparkSession.builder.appName(appName).config("someconfig","somevalue").getOrCreate()

In [14]:
#import the libraries
import pandas as pd
from pyspark.ml.feature import StringIndexer, IndexToString

In [15]:
#import the data as pandas dataframe
df = pd.read_csv("/home/pygmy/Projects/Veni/Bisnis_Pintar/Social_Network_Ads.csv")

In [16]:
#see the very top of the data
df.head(3)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0

In [17]:
# create the pandas dataframe as spark dataframe
sparkdf = spark.createDataFrame(df)

In [18]:
#change the Gender column as numeric
indexer = StringIndexer(inputCol="Gender", outputCol="indexed")

In [19]:
# fit it to the dataframe
indexerOutput = indexer.fit(sparkdf)

In [20]:
# transform it to the dataframe
indexerOutput = indexerOutput.transform(sparkdf)

In [21]:
# now use IndexToString to reverse the numeric value to its original categorical value
labelReverse = IndexToString(inputCol="indexed", outputCol="reversed")

In [22]:
# transoform it to the dataframe
rvsd= labelReverse.transform(indexerOutput)

In [23]:
# see the result
rvsd.show(10)

+--------+------+---+---------------+---------+-------+--------+
| User ID|Gender|Age|EstimatedSalary|Purchased|indexed|reversed|
+--------+------+---+---------------+---------+-------+--------+
|15624510|  Male| 19|          19000|        0|    1.0|    Male|
|15810944|  Male| 35|          20000|        0|    1.0|    Male|
|15668575|Female| 26|          43000|        0|    0.0|  Female|
|15603246|Female| 27|          57000|        0|    0.0|  Female|
|15804002|  Male| 19|          76000|        0|    1.0|    Male|
|15728773|  Male| 27|          58000|        0|    1.0|    Male|
|15598044|Female| 27|          84000|        0|    0.0|  Female|
|15694829|Female| 32|         150000|        1|    0.0|  Female|
|15600575|  Male| 25|          33000|        0|    1.0|    Male|
|15727311|Female| 35|          65000|        0|    0.0|  Female|
+--------+------+---+---------------+---------+-------+--------+
only showing top 10 rows