In [1]:
import pandas as pd
import matplotlib.pyplot as pl
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('sierad.csv')
df.head()

   Room_T  RH  Teff  Wind_Speed
0      35  30  35.0         0.0
1      35  30  34.3         0.1
2      35  30  33.0         0.3
3      35  30  31.6         0.5
4      35  30  29.8         0.7

In [76]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.33, random_state=42)